#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION  "Canonical Display Driver"
#define REACTOS_STR_INTERNAL_NAME     "cdd"
#define REACTOS_STR_ORIGINAL_FILENAME "cdd.sys"
#include <reactos/version.rc>