#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION  "Bochs WDDM Miniport Driver"
#define REACTOS_STR_INTERNAL_NAME     "bochswddm"
#define REACTOS_STR_ORIGINAL_FILENAME "bochswddm.sys"
#include <reactos/version.rc>
